{% extends 'page.twig' %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
        <h1>Themes and Projects</h1>
    </div>
{% endblock header %}

{% block main %}
    {% for t in context.themes %}
            <div class="col-md-6">
                <h3>{{t.name}}</h3>
                {% for f in context.fileInfo if t.id == f.theme_id and f.hidden != 'on' %}
                <p><a href="{{base}}/{{context.getFilePath(f.upload_id)}}">{{f.description}}</a></p>
                {% endfor %}
            </div>
    {% endfor %}
{% endblock main %}

{% block footer %}
{% endblock footer %}
